@{
    ViewData["Title"] = "Movie List";
}

@model List<ApplicationResponse>

    <div style="margin: 20px">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Title</th>
                    <th scope="col">Year</th>
                    <th scope="col">Director</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Edited</th>
                    <th scope="col">LentTo</th>
                    <th scope="col">Notes</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var x in Model)
                {
                <tr>
                    <td>@x.Category.CategoryName</td>
                    <td>@x.Title</td>
                    <td>@x.Year</td>
                    <td>@x.Director</td>
                    <td>@x.Rating</td>
                    <td>@x.Edited</td>
                    <td>@x.LentTo</td>
                    <td>@x.Notes</td>

                    <td><a asp-controller="Home" asp-action="Edit" asp-route-applicationid="@x.MovieID" class="btn btn-info" style="color: white;">Edit</a></td>
                    <td><a asp-controller="Home" asp-action="Delete" asp-route-applicationid="@x.MovieID" class="btn btn-danger">Delete</a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>